

.header {
    background-color: #173f1b;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    color: green;
    height: 110px;
    font-family: "Roboto Slab, serif";
    font-size: 30px;
    flex-direction: row;
    z-index: 50;
}

.header-left {
    background-color: #173f1b;
    flex: 2;
}

.header-logo-pic {
    width: 145px;
    margin-left: 100px;
    
}

.home {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    right: auto;
    left: auto;
}



.services:active,
.contact:active,
.about-us:active,
.home:active{
    opacity: .3;
}

.about-us {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}


.contact {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.homepage-intro {
    background-color: whitesmoke;
    padding-left: 0px;
    height: 900px;
    
    margin-top: 75px;
    column-gap: 50px;
    display: flex;
    flex-direction: row;
}

.intro-pic {
    background-color: transparent;
    z-index: auto;
    margin-left: 175px;
    margin-top: 140px;
    margin-bottom: 100px;
}

.intro-text {
    background-color: transparent;
    z-index: auto;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.intro-pic-info {
    width: 375px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.test-1 {
    margin-top: 30px;
    background-color: transparent;
    flex: .75;
    width: 100%;
    height: 100%;
}

.test-2 {
    background-color: transparent;
    flex: 1;
    width: 100%;
    height: 100%;
}

.test-1-text {
    font-family: "Roboto Slab, serif";
    font-size: 65px;
    color: #173f1b;
}

.test-2-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.characteristics {
    background-color: #173f1b;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 400px;
    
}

.local {
    background-color: #173f1b;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.local-pic {
    height: 150px;
    background-color: transparent;
}

.map {
    height: 60px; 
    display: block;
    margin-left: auto;
    margin-top: 90px;
    margin-right: auto;
}

.locally-owned {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: whitesmoke;
}

.local-text {
    flex: 1;
    background-color: transparent;
    text-align: center;
    margin-top: 0px;
    color: whitesmoke;
}

.text-in-local {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-right: 50px;
    margin-left: 50px;
    
}



.slideshow {
    background-image: url(monti_pics/slback.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 450px;
    display: flex;
    background-color: #046a38; /*CHANGES THE COLOR OF SLIDE BACKGROUND*/
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.whatthe {
    width: 800px;
   height: 450px;
}

/*
.slide img{
    width: 800px;
    height: 500px;
}
*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

#radio7:checked ~ .first{
    margin-left: -120%;
}

#radio8:checked ~ .first{
    margin-left: -140%;
}







.services-header {
    background-color: white;
    height: 50px;
    
    padding-top: 150px;
    padding-bottom: 50px;
    
    
}

.servicest {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #173f1b;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .4);
}

.homepage-services-div {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.homepage-services-div1 {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.homepage-services {
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.homepage-services-1 {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.services-pic {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    flex: 1;
    height: 200px;
}

.services-text {
    flex: 2;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 10px;
    background-color: #a6bfa5;
    height: 200px;
    border-radius: 2px;
    text-align: center;
}

.services-pic1 {
   
    margin-top: 50px;
    margin-right: 2%;
    background-color: transparent;
    flex: 1;
    height: 200px;
}

.services-text1 {
    flex: 2;
    margin-top: 50px;
    display: block;
    margin-left: 5%;
    margin-right: 10px;
    background-color: #a6bfa5;
    height: 200px;
    border-radius: 2px;
}

.services-pic-info1 {
    display: block;
    height: 200px;
    margin-left: 2%;
    margin-right: auto;
    box-shadow: 0px 5px 10px rgba(0,0,0, .4);
}

.hope {
    flex: .25;
}


.services-pic-info {
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .4);
}

.text-in-services {
    height: 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    width: 175px;
    background-color: #173f1b;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 0;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
    text-align: center;
}

.subtext-in-services {
    font-family: 'Poppins', sans-serif;
    color: rgb(36, 34, 34);
    margin-left: 2%;
    text-align: center;
}

.services-pic-bottom {
    height: 200px;
}

.homepage-before-footer {
    display: flex;
    margin-top: 100px;
    background-color: white;
    flex-direction: row;
    height: 750px;
}

.before-footer-text {
    flex: 1.4;
    background-color: transparent;
}

.before-footer-pic1 {
    background-color: transparent;
    flex: 1.4;
}

.before-footer-pic2 {
    background-color: transparent;
    flex: 1.4;
}

.before-pic-info {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0, .3);
}

.before-text-info-top {
    font-family: "Roboto Slab, serif";
    font-weight: bolder;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 100px;
}

.before-text-info-bottom {
    font-size: 17px;
    color: black;
    font-family: "Roboto Slab, serif";
    margin-right: 50px;
    margin-left: 50px;  
    text-align: center;
    margin-bottom: 40px;
}

.quote-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    cursor: pointer;
    padding: 25px;
    font-family: "Roboto Slab, serif";
    font-size: 20px;
    color: #046a38;
    border-radius: 50px;
    border: none;

    transition: background-color .7s,
        color .7s;
        
}

.quote-button:hover {
    background-color:#046a38;
    color: white;
}

.quote-button:active {
    opacity: .7;
}

.footer {
    height: 200px;
    background-color: #173f1b;;
    display: flex;
    flex-direction: row;
}

.footer-pic {
    flex: 1;
}

.footer-pic-info {
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: auto;
}

.footer-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.footer-text-info {
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-left: 25%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-button-info {
    flex: 1;
}

.quote-button-footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    cursor: pointer;
    padding: 25px;
    font-family: "Roboto Slab, serif";
    font-size: 20px;
    color: #046a38;
    border-radius: 50px;
    border: none;

    transition: background-color .7s,
        color .7s;
        
}

.quote-button-footer:hover {
    background-color:#046a38;
    color: white;
}

.quote-button-footer:active {
    opacity: .7;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    opacity: 0.7;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: lightgreen;
}
